extends layout

block content
  .container
    .jumbotron
        .container
            h1 About us!!
            p lualhg ,ewhfiLWU ,efbLSKEWUgb,leiugfLA urhgliaUh rer aufuagfaeigfilerguslergius   ewhfiLWU ,efbLSKEWUgb,leiugfLA urhgliaUh rer aufuagfaeigfilerguslergius
           
            
    